<div class="container">
    <div class="card">
        <app-text-subtitle text="Lorem "></app-text-subtitle>
        <app-image-aux url="../../../assets/images/describe1.jpg"></app-image-aux>
        <app-text-describe text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut rutrum elit. Maecenas lectus enim, pharetra quis dapibus ac, blandit sit amet erat."></app-text-describe>
    </div>
    <div class="card">
        <app-text-subtitle text="Ipsum"></app-text-subtitle>
        <app-image-aux url="../../../assets/images/describe2_.jpg"></app-image-aux>
        <app-text-describe text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut rutrum elit. Maecenas lectus enim, pharetra quis dapibus ac, blandit sit amet erat."></app-text-describe>
    </div>
    <div class="card">
        <app-text-subtitle text="Dolor"></app-text-subtitle>
        <app-image-aux url="../../../assets/images/describe3.jpg"></app-image-aux>
        <app-text-describe text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut rutrum elit. Maecenas lectus enim, pharetra quis dapibus ac, blandit sit amet erat."></app-text-describe>
    </div>
    <div class="card">
        <app-text-subtitle text="Sit amet"></app-text-subtitle>
        <app-image-aux url="../../../assets/images/describe4.jpg"></app-image-aux>
        <app-text-describe text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut rutrum elit. Maecenas lectus enim, pharetra quis dapibus ac, blandit sit amet erat."></app-text-describe>
    </div>
</div>